body {
    background-image: url(images/Background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #cccccc;
}

caption {
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
}
thead th {
    font-size:30px;
    font-weight: bold;
    background-color: lightgrey;
    text-align: center;
}

tbody td {
    text-align: center;
    font-size: 25px;
    font-style: italic;
}
tbody tr:nth-child(even) {
  background-color:lightgray;
}

tbody tr:nth-child(odd) {
  background-color: whitesmoke;
}
.backimage {           
    background-image: url('images/AWNalbumcover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px,100px;
    height: 200px;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    background-color: greenyellow;
}
a:active{
    text-decoration: none;
}

